# 2.1 - 2.2 Aufgaben

Diese Aufgaben sind länger als Lernzielkontrolle und fassen alle Themen aus 2.1 und 2.2 zusammen.

Lösen Sie diese Aufgaben in VS Code oder in Jupyter Notebook.

## Aufgabe 1

### 1.1 Initialisieren Sie eine Liste mit fünf Namen

In [10]:
namen = ['Tim', 'Nina', 'Sara', 'Alexander', 'Katja']

In [11]:
namen

['Tim', 'Nina', 'Sara', 'Alexander', 'Katja']

### 1.2 Fügen Sie noch einen Name der Liste hinzu.

In [12]:
namen.append('John')

In [13]:
namen

['Tim', 'Nina', 'Sara', 'Alexander', 'Katja', 'John']

### 1.3 Drucken Sie jede Name aus.

In [14]:
for name in namen:
    print(name)

Tim
Nina
Sara
Alexander
Katja
John

### 1.4 Drucken Sie die erste Buchstabe von jede Name aus.

In [15]:
for name in namen:
    print(name[0])

T
N
S
A
K
J

### 1.5 Speichern Sie jede Name als ungekehrt in einer neuen Liste und drucken Sie gleichzeitig jeden Name aus.

In [16]:
ungekehrt = []
for name in namen:
    print(name[::-1])
    ungekehrt.append(name[::-1])

miT
aniN
araS
rednaxelA
ajtaK
nhoJ

In [17]:
print(ungekehrt)

['miT', 'aniN', 'araS', 'rednaxelA', 'ajtaK', 'nhoJ']

### 1.6 Löschen Sie alle Elemente in der neuen ungekehrten Liste.

In [18]:
ungekehrt.clear()
print(ungekehrt)

[]

## Aufgabe 2

### 2.1 Initialisieren Sie eine Liste von 0 bis 50.

In [19]:
num_liste = list(range(0,51))

In [20]:
print(num_liste[0:10])
print(num_liste[-10::])
print(len(num_liste))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
51

### 2.2 Ordnen Sie die List von absteigend zu.

In [21]:
num_absteigend = num_liste[::-1]

In [22]:
print(num_absteigend[0:10])
print(num_absteigend[-10::])

[50, 49, 48, 47, 46, 45, 44, 43, 42, 41]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 2.3 Drucken Sie jede gerade Zahl aus, die nicht ein Teiler von zehn ist.

In [23]:
num_gerade = num_liste[::2] # noch eine Methode, aber es funktioniert nur, wenn die Liste schon zugeordnet ist.

In [24]:
print(num_liste[::2])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [25]:
print(num_gerade[0:10])
print(num_gerade[-10::])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [26]:
for num in num_liste:
    if num % 2 == 0 and num % 10 != 0:
        print(num)

2
4
6
8
12
14
16
18
22
24
26
28
32
34
36
38
42
44
46
48

### 2.4 Drucken Sie jede ungerade Zahl quadriert aus, die nicht ein Teiler von fünf ist.

In [27]:
for num in num_liste:
    if num % 2 != 0 and num % 5 != 0:
        print(num * num)

1
9
49
81
121
169
289
361
441
529
729
841
961
1089
1369
1521
1681
1849
2209
2401

## Aufgabe 3

### 3.1 Initialisieren Sie eine Liste von 0 bis 1 mit 0.01 Schrittgröße

In [28]:
num_init = range(0,101, 1)
schritt_num = []
for i in num_init:
    neu = i / 100
    schritt_num.append(neu)

In [29]:
print(schritt_num[0:10])
print(schritt_num[-10::])

[0.0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09]
[0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.0]

In [30]:
len(schritt_num)

101

### 3.2 Drucken Sie ein Liste der kumulative Summe aus.

In [31]:
# 1. Methode mit geschachtelten Schleifen
summe_1 = []
temp = 0
for i in range(1,len(schritt_num)+1,1):
    for y in schritt_num[0:i]:
        temp += y
    summe_1.append(round(temp,4))
    temp = 0
print(summe_1)

[0.0, 0.01, 0.03, 0.06, 0.1, 0.15, 0.21, 0.28, 0.36, 0.45, 0.55, 0.66, 0.78, 0.91, 1.05, 1.2, 1.36, 1.53, 1.71, 1.9, 2.1, 2.31, 2.53, 2.76, 3.0, 3.25, 3.51, 3.78, 4.06, 4.35, 4.65, 4.96, 5.28, 5.61, 5.95, 6.3, 6.66, 7.03, 7.41, 7.8, 8.2, 8.61, 9.03, 9.46, 9.9, 10.35, 10.81, 11.28, 11.76, 12.25, 12.75, 13.26, 13.78, 14.31, 14.85, 15.4, 15.96, 16.53, 17.11, 17.7, 18.3, 18.91, 19.53, 20.16, 20.8, 21.45, 22.11, 22.78, 23.46, 24.15, 24.85, 25.56, 26.28, 27.01, 27.75, 28.5, 29.26, 30.03, 30.81, 31.6, 32.4, 33.21, 34.03, 34.86, 35.7, 36.55, 37.41, 38.28, 39.16, 40.05, 40.95, 41.86, 42.78, 43.71, 44.65, 45.6, 46.56, 47.53, 48.51, 49.5, 50.5]

In [32]:
print(sum(schritt_num))

50.5

In [33]:
# 2. Methode mit Hilfe sum() von die Standardbibliothek
summe_2 = []
x_1 = schritt_num.copy()
j = 1
for i in x_1:
    summe_2.append(round(sum(x_1[0:j]),4))
    j+=1

In [34]:
print(summe_2)

[0.0, 0.01, 0.03, 0.06, 0.1, 0.15, 0.21, 0.28, 0.36, 0.45, 0.55, 0.66, 0.78, 0.91, 1.05, 1.2, 1.36, 1.53, 1.71, 1.9, 2.1, 2.31, 2.53, 2.76, 3.0, 3.25, 3.51, 3.78, 4.06, 4.35, 4.65, 4.96, 5.28, 5.61, 5.95, 6.3, 6.66, 7.03, 7.41, 7.8, 8.2, 8.61, 9.03, 9.46, 9.9, 10.35, 10.81, 11.28, 11.76, 12.25, 12.75, 13.26, 13.78, 14.31, 14.85, 15.4, 15.96, 16.53, 17.11, 17.7, 18.3, 18.91, 19.53, 20.16, 20.8, 21.45, 22.11, 22.78, 23.46, 24.15, 24.85, 25.56, 26.28, 27.01, 27.75, 28.5, 29.26, 30.03, 30.81, 31.6, 32.4, 33.21, 34.03, 34.86, 35.7, 36.55, 37.41, 38.28, 39.16, 40.05, 40.95, 41.86, 42.78, 43.71, 44.65, 45.6, 46.56, 47.53, 48.51, 49.5, 50.5]

In [35]:
# 3. Methode mit einer while-Schleife
summe_3 = []
x_2 = schritt_num.copy()
temp = 0
while len(x_2) > 0:
    temp += x_2.pop(0)
    summe_3.append(round(temp, 4))

In [36]:
print(summe_3)

[0.0, 0.01, 0.03, 0.06, 0.1, 0.15, 0.21, 0.28, 0.36, 0.45, 0.55, 0.66, 0.78, 0.91, 1.05, 1.2, 1.36, 1.53, 1.71, 1.9, 2.1, 2.31, 2.53, 2.76, 3.0, 3.25, 3.51, 3.78, 4.06, 4.35, 4.65, 4.96, 5.28, 5.61, 5.95, 6.3, 6.66, 7.03, 7.41, 7.8, 8.2, 8.61, 9.03, 9.46, 9.9, 10.35, 10.81, 11.28, 11.76, 12.25, 12.75, 13.26, 13.78, 14.31, 14.85, 15.4, 15.96, 16.53, 17.11, 17.7, 18.3, 18.91, 19.53, 20.16, 20.8, 21.45, 22.11, 22.78, 23.46, 24.15, 24.85, 25.56, 26.28, 27.01, 27.75, 28.5, 29.26, 30.03, 30.81, 31.6, 32.4, 33.21, 34.03, 34.86, 35.7, 36.55, 37.41, 38.28, 39.16, 40.05, 40.95, 41.86, 42.78, 43.71, 44.65, 45.6, 46.56, 47.53, 48.51, 49.5, 50.5]

In [37]:
tiere = ['Katze', 'Hund', 'Vogel']

In [38]:
tiere.pop(0)

'Katze'

In [39]:
tiere

['Hund', 'Vogel']

In [40]:
# 4. Methode ohne eine neue Liste mit Hilfe enumerate()
x_3 = schritt_num.copy()
temp = 0
for index, num in enumerate(x_3):
    temp += num
    x_3[index] = round(temp, 4)

In [41]:
print(x_3)

[0.0, 0.01, 0.03, 0.06, 0.1, 0.15, 0.21, 0.28, 0.36, 0.45, 0.55, 0.66, 0.78, 0.91, 1.05, 1.2, 1.36, 1.53, 1.71, 1.9, 2.1, 2.31, 2.53, 2.76, 3.0, 3.25, 3.51, 3.78, 4.06, 4.35, 4.65, 4.96, 5.28, 5.61, 5.95, 6.3, 6.66, 7.03, 7.41, 7.8, 8.2, 8.61, 9.03, 9.46, 9.9, 10.35, 10.81, 11.28, 11.76, 12.25, 12.75, 13.26, 13.78, 14.31, 14.85, 15.4, 15.96, 16.53, 17.11, 17.7, 18.3, 18.91, 19.53, 20.16, 20.8, 21.45, 22.11, 22.78, 23.46, 24.15, 24.85, 25.56, 26.28, 27.01, 27.75, 28.5, 29.26, 30.03, 30.81, 31.6, 32.4, 33.21, 34.03, 34.86, 35.7, 36.55, 37.41, 38.28, 39.16, 40.05, 40.95, 41.86, 42.78, 43.71, 44.65, 45.6, 46.56, 47.53, 48.51, 49.5, 50.5]

## Aufgabe 4

### 4.1 Initialisieren Sie eine Liste von Dict mit 10 Leute: Name, Age und Haustier (Hund oder Katze)

1. Benutzen Sie die Namen von früher plus vier mehr. 
2. Das Alter ist 5 mal die Anzahl der Buchstaben.
3. Alle Leute mit ein 'a' in ihrem Name hat ein Hund, sonst Katze
4. Drucken Sie alle Daten in vernünftigen Sätze aus.

In [42]:
namen

['Tim', 'Nina', 'Sara', 'Alexander', 'Katja', 'John']

In [43]:
namen_2 = namen + ['Jose', 'Mei', 'Thor', 'Mary']

In [44]:
namen_2

['Tim',
 'Nina',
 'Sara',
 'Alexander',
 'Katja',
 'John',
 'Jose',
 'Mei',
 'Thor',
 'Mary']

In [45]:
gruppe = []

In [46]:
for name in namen_2:
    person = {}
    person['name'] = name
    person['alter'] = len(name) * 5
    if 'a' in name:
        person['haustier'] = 'Hund'
    else: 
        person['haustier'] = 'Katze'
    gruppe.append(person)

In [47]:
for person in gruppe:
    print(person.keys(), person.values())

dict_keys(['name', 'alter', 'haustier']) dict_values(['Tim', 15, 'Katze'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['Nina', 20, 'Hund'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['Sara', 20, 'Hund'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['Alexander', 45, 'Hund'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['Katja', 25, 'Hund'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['John', 20, 'Katze'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['Jose', 20, 'Katze'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['Mei', 15, 'Katze'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['Thor', 20, 'Katze'])
dict_keys(['name', 'alter', 'haustier']) dict_values(['Mary', 20, 'Hund'])

In [48]:
for person in gruppe:
    if person['haustier'] == 'Hund':
        art = 'einen'
    else:
        art = 'eine'
    print(f'{person['name']} ist {person['alter']} Jahre alt und hat {art} {person['haustier']}.')

Tim ist 15 Jahre alt und hat eine Katze.
Nina ist 20 Jahre alt und hat einen Hund.
Sara ist 20 Jahre alt und hat einen Hund.
Alexander ist 45 Jahre alt und hat einen Hund.
Katja ist 25 Jahre alt und hat einen Hund.
John ist 20 Jahre alt und hat eine Katze.
Jose ist 20 Jahre alt und hat eine Katze.
Mei ist 15 Jahre alt und hat eine Katze.
Thor ist 20 Jahre alt und hat eine Katze.
Mary ist 20 Jahre alt und hat einen Hund.