# 4.2 Aufgaben

Diese Aufgabe ist länger als Lernzielkontrolle und fasst alle Themen aus 4.2 and früher zusammen.

Lösen Sie diese Aufgabe in VS Code oder in Jupyter Notebook.

**Erzeugen einen Datensatz mit folgenden Spalten:**
1. [Vorname](https://catalog.data.gov/dataset/popular-baby-names/resource/02e8f55e-2157-4cb2-961a-2aabb75cbc8b)
3. [Nachname](https://gist.github.com/craigh411/19a4479b289ae6c3f6edb95152214efc)
3. [Job](https://github.com/johnlsheridan/occupations/blob/master/occupations.csv)
4. [Firma](https://github.com/prasertcbs/basic-dataset/blob/master/companies.csv)
5. Alter - zufällig (18 - 65)
6. Gehalt - zufällig plus auf Alter basiert
7. Email - auf Name und Firma basiert
8. Geburtsjahr - auf Alter und heutiges Jahr basiert


Sie müssen die Daten für Spalten 1-4 herunterladen. Spalten 5-8 wird entweder erzeugt oder von anderen Daten herausgekommen.

> Bitte benutzen Sie NumPy und pandas.

In [186]:
import numpy as np
import pandas as pd
import os

In [187]:
df = pd.DataFrame(columns=['vorname', 'nachname', 'job', 'firma', 'alter', 'gehalt', 'email', 'geburtstag'])

In [188]:
df.empty

True

In [189]:
os.getcwd()

'c:\\Users\\pat_h\\OneDrive\\p-spohr-repos\\HTW-Berlin-Pytorium\\4-Wichtige-Libraries\\Aufgaben'

In [190]:
df_dict = {}
for dirpath, dirnames, filenames in os.walk('daten'):
    for file in filenames:
        # print(os.path.splitext(file)[0])
        df_dict[os.path.splitext(file)[0]] = pd.read_csv(os.path.join(dirpath,file))

In [191]:
df_dict.keys()

dict_keys(['firma', 'job', 'nachname', 'vorname'])

In [192]:
df_dict['nachname']

       lastname  Unnamed: 1
0         Smith         NaN
1       Johnson         NaN
2      Williams         NaN
3         Brown         NaN
4         Jones         NaN
...         ...         ...
998        Duke         NaN
999        Odom         NaN
1000  Daugherty         NaN
1001     Travis         NaN
1002       Tang         NaN

[1003 rows x 2 columns]

In [193]:
df.columns

Index(['vorname', 'nachname', 'job', 'firma', 'alter', 'gehalt', 'email',
       'geburtstag'],
      dtype='object')

In [194]:
df_dict['nachname']['lastname'].sample(10, axis=0).values

array(['Conley', 'Keller', 'Prince', 'Pace', 'Bauer', 'Gordon', 'House',
       'Santana', 'Ross', 'Dawson'], dtype=object)

In [195]:
# size = 10
# df['vorname'] = df_dict['vorname']['Child\'s First Name'][0:size].str.capitalize()
# df['nachname'] = df_dict['nachname']['lastname'][0:size]
# df['job'] = df_dict['job']['Occupations'][0:size]
# df['firma'] = df_dict['firma']['name_latest'][0:size]

df['vorname'] = df_dict['vorname']['Child\'s First Name'].sample(10, axis=0).str.capitalize().values
df['nachname'] = df_dict['nachname']['lastname'].sample(10, axis=0).values
df['job'] = df_dict['job']['Occupations'].sample(10, axis=0).values
df['firma'] = df_dict['firma']['name_latest'].sample(10, axis=0).values

In [196]:
df

,vorname,nachname,job,firma,alter,gehalt,email,geburtstag
0,Yitty,Larsen,Auction Worker,Sunergy Inc,NaN,NaN,NaN,NaN
1,Perl,Reid,Stable Hand,Ants Software Inc,NaN,NaN,NaN,NaN
2,Jonathan,Carroll,Assistant Nurse,Carrizo OIL & GAS Inc,NaN,NaN,NaN,NaN
3,Brianna,Skinner,Mineralologist,Hammer Fiber Optics Holdings Corp,NaN,NaN,NaN,NaN
4,Johnathan,Malone,Restaurateur,Regeneron Pharmaceuticals Inc,NaN,NaN,NaN,NaN
5,Liliana,Lynn,Hod Carrier,DEL Taco Income Properties IV,NaN,NaN,NaN,NaN
6,Mario,Baxter,Bingo Caller,"Berkshire Homes, Inc.",NaN,NaN,NaN,NaN
7,Jacqueline,White,Nurse,Chase Corp,NaN,NaN,NaN,NaN
8,Connor,Lyons,Pastry Chef,Ccfnb Bancorp Inc,NaN,NaN,NaN,NaN
9,Ivanna,Owen,French Polisher,"Computer Software Innovations, Inc.",NaN,NaN,NaN,NaN

In [197]:
rng = np.random.default_rng()

In [198]:
df['alter'] = rng.integers(18, 65, 10)

In [199]:
df['gehalt'] = ((df.alter / 100) * rng.normal(8000, 2000, len(df))).round(2)

In [200]:
def email_par(ser : pd.Series):

    return f'{ser.vorname}.{ser.nachname}@{ser.firma.split()[0]}.com'

In [201]:
df['email'] = f'{df.vorname}.{df.nachname}@{df.firma}'

In [202]:
df['email'] = df.apply(email_par, axis=1)

In [203]:
df['geburtstag'] = pd.Timestamp.today().year - df.alter

In [204]:
df

,vorname,nachname,job,firma,alter,gehalt,email,geburtstag
0,Yitty,Larsen,Auction Worker,Sunergy Inc,47,4535.82,Yitty.Larsen@Sunergy.com,1977
1,Perl,Reid,Stable Hand,Ants Software Inc,56,4844.01,Perl.Reid@Ants.com,1968
2,Jonathan,Carroll,Assistant Nurse,Carrizo OIL & GAS Inc,27,950.67,Jonathan.Carroll@Carrizo.com,1997
3,Brianna,Skinner,Mineralologist,Hammer Fiber Optics Holdings Corp,36,1689.50,Brianna.Skinner@Hammer.com,1988
4,Johnathan,Malone,Restaurateur,Regeneron Pharmaceuticals Inc,36,2911.45,Johnathan.Malone@Regeneron.com,1988
5,Liliana,Lynn,Hod Carrier,DEL Taco Income Properties IV,48,4052.54,Liliana.Lynn@DEL.com,1976
6,Mario,Baxter,Bingo Caller,"Berkshire Homes, Inc.",39,2367.53,Mario.Baxter@Berkshire.com,1985
7,Jacqueline,White,Nurse,Chase Corp,21,1011.50,Jacqueline.White@Chase.com,2003
8,Connor,Lyons,Pastry Chef,Ccfnb Bancorp Inc,31,1665.32,Connor.Lyons@Ccfnb.com,1993
9,Ivanna,Owen,French Polisher,"Computer Software Innovations, Inc.",46,3822.16,Ivanna.Owen@Computer.com,1978